---
---

@import "{{ site.theme }}";

ul.posts li.single-post {
  padding-bottom: 50px;
}

ul.posts li.single-post span.post-date {
  font-weight: bold;
}

img.img-align-right {
  float: right;
  margin: 0 0 1.5em 1.5em;
}
